av2/zadaca3.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    
    <xsd:complexType name="opisType">
        <xsd:sequence>
            <xsd:element name="Ime" type="xsd:string"/>
            <xsd:element name="Prezime" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="avtorType">
        <xsd:sequence>
            <xsd:element name="PrezimeIme" type="opisType"/>
            <xsd:element name="GodRag" type="xsd:integer"/>
        </xsd:sequence>
        <xsd:attribute name="sifra" type="xsd:ID"/>
    </xsd:complexType>
    
    <xsd:complexType name="primerokType">
        <xsd:sequence>
            <xsd:element name="opis" type="xsd:string"/>
            <xsd:element name="status" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="broj" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="knigaType">
        <xsd:sequence>
            <xsd:element name="naslov" type="xsd:string"/>
            <xsd:element name="godIzd" type="xsd:integer"/>
            <xsd:element name="brStr" type="xsd:integer"/>
            <xsd:element name="avtor" type="avtorType" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="primerok" type="primerokType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="ISBN">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:length value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="KNIGI">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Kniga" type="knigaType" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>    
</xsd:schema>
