av2/zadaca1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:simpleType name="BRINDEKSTYPE">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="^[0-9]{3}/20[0-9]{2}$"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="LICNIINFOTYPE">
        <xsd:sequence>
            <xsd:element name="Ime" type="xsd:string"/>
            <xsd:element name="TatkovoIme" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Prezime" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="NASOKATYPE">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IKI"/>
            <xsd:enumeration value="INFO"/>
            <xsd:enumeration value="ASI"/>
            <xsd:enumeration value="IT"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="STUDENTTYPE">
        <xsd:sequence>
            <xsd:element name="Indeks" type="BRINDEKSTYPE"/>
            <xsd:group ref="BASICINFO"/>
            <xsd:element name="Nasoka" type="NASOKATYPE"/>
        </xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="VRABOTENTYPE">
        <xsd:sequence>
            <xsd:group ref="BASICINFO"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:group name="BASICINFO">
        <xsd:sequence>
            <xsd:element name="LicniInformacii" type="LICNIINFOTYPE"/>
            <xsd:element name="DataRaganje" type="xsd:date"/>
            <xsd:element name="MestoRaganje" type="xsd:string"/>
        </xsd:sequence>
    </xsd:group>
    
    <xsd:element name="STUDENTI" type="STUDENTTYPE"/>
    <xsd:element name="VRABOTENI" type="VRABOTENTYPE"/>
</xsd:schema>