av3/biblioteka.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:simpleType name="brojSpisanie">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="^[A-Z]{2}[0-9]{2}$"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="PrimerokType">
        <xsd:sequence>
            <xsd:element name="broj" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:group name="StavkaGroup">
        <xsd:sequence>
            <xsd:element name="naslov" type="xsd:string"/>
            <xsd:element name="Primerok" type="PrimerokType"/>
        </xsd:sequence>
        <xsd:attribute name="invBroj" type="xsd:ID"/>
    </xsd:group>
    
    <xsd:complexType name="StavkaType">
        <xsd:group ref="StavkaGroup"/>
    </xsd:complexType>
    
    
    <xsd:complexType name="SpisanieType">
        <xsd:sequence>
            <xsd:group ref="StavkaGroup"/>
            <xsd:element name="broj" type="brojSpisanie"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="KnigaType">
        <xsd:sequence>
            <xsd:group ref="StavkaGroup"/>
            <xsd:element name="brStr" type="xsd:integer"/>
            <xsd:element name="Avtor" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Ime" type="xsd:string"/>
                        <xsd:element name="Prezime" type="xsd:string"/>
                        <xsd:element name="GodRag" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="ClenType">
        <xsd:sequence>
            <xsd:element name="Ime" type="xsd:string"/>
            <xsd:element name="Prezime" type="xsd:string"/>
            <xsd:element name="Adresa" type="xsd:string"/>
            <xsd:element name="Pozajmica" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="start" type="xsd:date"/>
                        <xsd:element name="end" type="xsd:date"/>
                        <xsd:element name="status" type="xsd:boolean"/>
                        <xsd:element name="Primerok" type="PrimerokType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="clBroj" type="xsd:ID"/>
    </xsd:complexType>
    
    <xsd:element name="Biblioteka">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Stavka" type="StavkaType" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="Kniga" type="KnigaType" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="Spisanie" type="SpisanieType" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="Clen" type="ClenType" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
