av3/plakjanja.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:complexType name="PLAKJANJETYPE">
        <xsd:sequence>
            <xsd:element name="datum" type="xsd:date"/>
            <xsd:element name="suma" type="xsd:decimal"/>
        </xsd:sequence>
        <xsd:attribute name="plakjanjeID" type="xsd:ID"/>
        <xsd:attribute name="proektID" type="xsd:integer"/>
    </xsd:complexType>
    
    <xsd:complexType name="SOKREDITNATYPE">
        <xsd:sequence>
            <xsd:element name="ime" type="xsd:string"/>
            <xsd:element name="vaziDo" type="xsd:date"/>
        </xsd:sequence>
        <xsd:attribute name="broj" type="xsd:integer"/>
        <xsd:attribute name="plakjanjeREF" type="xsd:IDREF"/>
    </xsd:complexType>
    
    <xsd:element name="PLAKJANJA">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Plakjanje" type="PLAKJANJETYPE" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="SoKreditna" type="SOKREDITNATYPE" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
