exam-example/korisnik.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT KORISNICI (Korisnik)* >
<!ELEMENT Korisnik ((KorisnickoIme,Lozinka,Telefoni) | (Najava,korisnikBr?) | (Najava,Telefon+))>
<!ELEMENT Najava (KorisnickoIme,Lozinka,(Telefoni | Telefon*)?)>
<!ELEMENT KorisnickoIme (#PCDATA) >
<!ELEMENT Lozinka (#PCDATA) >
<!ELEMENT Telefoni (#PCDATA) >
<!ELEMENT korisnikBr (#PCDATA) >
<!ELEMENT Telefon (#PCDATA) >
<!ATTLIST Korisnik korisnikBr ID #IMPLIED >