exam-example/prodavnica.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="sifraType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1000"/>
            <xsd:maxInclusive value="9999"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="karakteristikaType">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="string">
                    <xsd:enumeration value="eden"/>
                    <xsd:enumeration value="dva"/>
                    <xsd:enumeration value="tri"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="integer">
                    <xsd:minInclusive value="1"/>
                    <xsd:maxInclusive value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:complexType name="proizvodType">
        <xsd:sequence>
            <xsd:element name="ime" type="xsd:string"/>
            <xsd:element name="cena" type="xsd:string"/>
            <xsd:element name="Kategorija">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ime" type="xsd:string"/>
                        <xsd:element name="karakteristika" type="kategorijaType"/>
                    </xsd:sequence>
                    <xsd:attribute name="nadKategorija" type="xsd:IDREF" minOccurs="0"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="sifra" type="sifraType"/>
    </xsd:complexType>
    
    <xsd:complexType name="narackaType">
        <xsd:sequence>
            elements
            <xsd:element name="narackaProizvod" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="kolicina" type="xsd:integer"/>
                    </xsd:sequence>
                    <xsd:attribute name="proizvodREF" type="xsd:integer"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="korisnikREF" type="xsd:integer"/>
    </xsd:complexType>
    
    <xsd:element name="Prodavnica">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Proizvod" type="proizvodType" minOccurs="1" maxOccurs="unbounded"/>/>
                <xsd:element name="Naracka" type="narackaType" minOccurs="0" maxOccurs="unbounded"/>
x            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
